*
{
	padding: 0px;
	margin: 0px;
}

body
{
	padding: 0px;
	width: 1200px;
	height: 2800px;
}

#BODYS
{
	margin-left: 50%;
	margin-right: 80%; 
	widows: 1100px;
	height: 2500px;
	background-color: red;
}